@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;700&display=swap');

body {
    background-color: #ff4f52;
    font-family: 'Heebo', sans-serif
  }

  * {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
  }